.close-reveal-modal {
    font-weight: bold;
    padding-right: 0;
    padding-top: 0;
}

#slideshow_texts {
	width: 100%;
	height: auto;
	overflow-y:scroll;
}

#slideshow_images, #imagesList, .twentytwenty-container, .twentytwenty-before, .twentytwenty-after{

}

.twentytwenty-before, .twentytwenty-after{
	
}

.twentytwenty-overlay{
	pointer-events: none;
}