/* Small-range 0, 640px */
/* Medium-range 641px, 1024px */
/* Large-range 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
html, body, #map {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font: 100% Helvetica, sans-serif; }

map {
  z-index: 2; }

audio {
  width: 100%; }
  
/*------------------ Styles for tileToggle ----------------- */
  
 #tileToggle{
	position: fixed;
	z-index: 1;
	bottom: 10px;
	left: 10px;
	color: white; /*text color*/
	background-color: #6D6D6D; /*dark grey*/
	border-radius: 5px;
 }
  #tileToggle b {
	padding: 5px
  }
  
  #tileToggle:hover {
	background-color: #BEBEBE; /*light grey*/
	cursor: pointer;
 }

 /*---------------- end Styles for tileToggle ----------------- */
 
.ontop {
  z-index: 5;
  position: fixed;
  width: 100%; }


.top-bar {
  z-index: 1;
  position: fixed;
  background: none repeat scroll 0 0 #6d6d6d;
  /*	this will change with screen size*/
  width: 100%; }

.top-bar-section li:not(.has-form) a:not(.button) {
  background: none repeat scroll 0 0 #6d6d6d; }

.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background: #BEBEBE; }

@media only screen and (min-width: 0em) and (max-width: 40em) {
  .top-bar {
    bottom: 0px;
    margin-bottom: 0px; } }


audio{
    width: 100%;}

