html, body, #map {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}

map{
	z-index: 2;
}

.top-bar {
	z-index: 1;
	position: fixed;
	background: none repeat scroll 0 0 #6D6D6D;
/*	this will change with screen size*/
	bottom: 0px;
	width: 100%;
	margin-bottom: 0px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: none repeat scroll 0 0  #6D6D6D;
}

.top-bar-section li:not(.has-form)  a:hover:not(.button){
    background: none repeat scroll 0 0  #BEBEBE;
}

audio{
    width: 100%;
}